
.icon-i:before { content: '\21'; } /* '!' */
.icon-cancel:before { content: '\22'; } /* '&quot;' */
.icon-menu:before { content: '\23'; } /* '#' */
.icon-mail:before { content: '\24'; } /* '$' */
.icon-empty:before { content: '\25'; } /* '%' */
.icon-star:before { content: '\26'; } /* '&amp;' */
.icon-f:before { content: '\27'; } /* ''' */
.icon-g:before { content: '\28'; } /* '(' */
.icon-t:before { content: '\29'; } /* ')' */
.icon-upload-1:before { content: '\2a'; } /* '*' */
.icon-find:before { content: '\2b'; } /* '+' */
.icon-join:before { content: '\2c'; } /* ',' */
.icon-share:before { content: '\2d'; } /* '-' */
.icon-upload:before { content: '\77'; } /* 'w' */